.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.photo {
  /* display: inline-block; */
  /* box-sizing: border-box;
  display: inline-flex;
  margin: 1em;
  padding: 1em; */
  height: 250px;
  width: 250px;
}
