.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  margin-top: 5px;
  color: tan;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  opacity: 0.9;
  /* margin-bottom: 1em; */
  margin-left: 20px;
  margin-right: 20px;
}

#subHeaderId {
  font-size: 25px;
  color: beige;
  font-style: oblique;
  text-shadow: 2px 2px 6px;
  font-weight: 100;

}

#headerInstructionsId {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 20px;

}

.App-title {
  padding-top: 10px;
  font-size: 40px;
  /* text-shadow: 2px 2px 6px; */
  font-weight: 800;
}


.App-gallery {
  display: inline-block;
}

.photo {
  height: 250px;
  width: 250px;
}

#photoDescriptionId {
  display: inline-block;
  height: 250px;
  width: 250px;
  /* margin: ; */
  /* width: 50%; */
}

#quoteId{
  display: flex;
  padding-top: 23px;
  color: beige;
  font-family: fantasy;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  background-color: #222;
  padding-bottom: 20px;
  text-shadow: 2px 2px 6px;
  opacity: 0.9;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.layout {
  display: inline-block;
  padding: 20px;
  border-style: dashed;
  border-color: brown;
  margin: 20px;
  background-color: whitesmoke;

}
