.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}


.App-gallery {
  display: inline-block;
}

.photo {
  /* display: inline-block; */
  /* box-sizing: border-box;
  display: inline-flex;

  padding: 1em; */

  /* margin: 1em; */
  height: 250px;
  width: 250px;
}

#photoId {
  display: inline-block;
  margin: ;
  /* width: 50%; */
}

.layout {
  display: inline-block;
  padding: 20px;
  border-style: dashed;
  border-color: brown;
  margin: 20px;
  background-color: whitesmoke;

}
